<div class="directory-main">
    <!-- 搜索框 -->
    <div class="search" id="search">
        <input class="search-input" type="text" placeholder="search in files name">
        <i class="fa fa-search"></i>
    </div>
    <!-- 隐藏菜单 -->
    <div class="menu">
        <%- include("../_sub-part/search-tree.ejs") %>
    </div>
</div>



