<div class="timeline">
    <div class="node">
        <div class="node-time">十二月 12 2022</div>
        <div class="node-circle"></div>
    </div>
    <% 
    site.posts.forEach(element => {
        // console.log(date(element.date,'MMMM DD YYYY'))
        // console.log(element.title,element.excerpt)

    });
    %>
</div>

