<div id="index-main">
   <!-- COVER -->
   <div class="index-cover" id="_index-cover">
      <%- include('_main-part/index-cover.ejs') %>
   </div>
   <!-- INDEX-BLOG -->
   <div class="part-t-text" >README</div>
   <div class="index-blog" id="_index-blog">
      <%- include('_main-part/index-blog.ejs') %>
   </div>

   <!-- WHAT'S NEW -->
   <div class="part-t-text" >WHAT'S NEW</div>
   <div class="index-new" id="_index-new">
      <%- include('_main-part/index-new.ejs') %>
   </div>
</div>









